<nav class="w-full bg-gray-400  flex justify-between sm:justify-around items-baseline fixed top-0  z-10 opacity-70">
    <a class="text-white py-6 p-4  sm:p-6" href="#top">Top </a>
    <div class=" flex space-x-3 mr-4 sm:ml-0">
        <!-- <a class="text-white py-6 p-4 hover:bg-red-500 sm:p-6" href="#top">Top </a> -->
        <a class="text-white py-6 p-4 hover:underline hover:bg-gray-500 hover:decoration-white underline-offset-8 sm:p-6" href="#skills">Skills</a>
        <a class="text-white py-6 p-4 hover:underline hover:bg-gray-500 hover:decoration-white underline-offset-8  sm:p-6" href="#projects">Projects</a>
        <a class="text-white py-6 p-4 hover:underline hover:bg-gray-500 hover:decoration-white underline-offset-8  sm:p-6" href="#contact">Contact</a>

    </div>
</nav>